@import "tailwindcss";

:root {
  @apply bg-zinc-200 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-200 min-h-screen flex items-center justify-center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply flex items-center justify-center;
}

header {
  @apply fixed top-0 left-0 w-full bg-sky-400 dark:bg-sky-700 text-zinc-900 dark:text-zinc-200 flex justify-between items-center px-5 py-1.5;
}

/* 
Media query for å håndtere orientation - Spillet blir designet for landscape.
Skal i utgangspunktet bare dukke opp på mobil/tablet.
Fall-back - Håndteres først og fremst av app.jsx med states.
 */

@media screen and (orientation: portrait) {
  .portrait-warning {
    display: block;
  }
  .landscape-only {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .portrait-warning {
    display: none;
  }
  .landscape-only {
    display: block;
  }
}
