@import "tailwindcss";

:root {
  @apply bg-zinc-200 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-200 min-h-screen flex items-center justify-center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply flex items-center justify-center mt-15 overflow-hidden;
}

header {
  @apply fixed top-0 left-0 w-full bg-sky-400 dark:bg-sky-700 text-zinc-900 dark:text-zinc-200 flex justify-between items-center px-5 py-1.5;
}

.card {
  @apply size-18 flex items-center justify-center border-zinc-900 dark:border-sky-500 rounded-lg cursor-pointer text-4xl bg-slate-500 dark:bg-slate-800 hover:ring-2 dark:hover:ring-fuchsia-500 dark:hover:bg-slate-700;
  perspective: 1000px;
}

.card-inner-container {
  @apply border-1 border-zinc-900 dark:border-sky-500 rounded-lg;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.card-inner-container.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.card-front {
  transform: rotateY(180deg);
  top: 20%;
  right: 20%;
}

.card-back {
  top: 20%;
  left: 20%;
}

.flipped {
  @apply bg-lime-400 border-lime-700 dark:border-sky-500 dark:bg-zinc-800 border-3;
}

.matched {
  @apply bg-lime-400 border-lime-700 dark:border-lime-500 dark:bg-green-800 border-3;
}

/* 
For Flip animation senere;

.card {
  perspective: 1000px;
}
.card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.card-inner.flipped {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.card-back {
  transform: rotateY(180deg);
}

*/

/* 
Media query for å håndtere orientation - Spillet blir designet for landscape.
Skal i utgangspunktet bare dukke opp på mobil/tablet.
Fall-back - Håndteres først og fremst av app.jsx med states.
 */

@media screen and (orientation: portrait) {
  .portrait-warning {
    display: block;
  }
  .landscape-only {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .portrait-warning {
    display: none;
  }
  .landscape-only {
    display: block;
  }
}
